<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Marvel Movie Gallery</title>
    <link rel="stylesheet" href="/Content/normalize.css" />
    <link rel="stylesheet" href="/Content/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Original+Surfer" rel="stylesheet">
    <link rel="stylesheet" href="/Content/styles.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="wrap"> <!-- Wrapper div to push down the foot to bottom of the view port-->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <header id="main-header" style="-webkit-box-shadow: -3px 4px 27px 1px rgba(0,0,0,0.56);
	-moz-box-shadow: -3px 4px 27px 1px rgba(0,0,0,0.56);
	box-shadow: -3px 4px 27px 1px rgba(0,0,0,0.56);
	  background-size: 100px; min-width:414px; padding: 7px 0px 10px 10px" ;>
                <div class="title">
                    <h1 class="text-shadow">@ViewBag.Title</h1>
                </div>
            </header>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <div class="stick-footer">
                <div></div>
            </div>
        </div>
    </div>
            <footer>
                <p class="text-center">&copy; @DateTime.Now.Year - Lenny's Marvel Movie Gallery</p>
            </footer>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>