@model GalleryMVC.Models.Movie

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
}

    <h1>@Model.MovieTitle</h1>

    <div>@Html.Raw(Model.DescriptionHtml)</div>

    @if (Model.CastStars.Length > 0)
    {
        <h5>Cast Members:</h5>
        <div>
            <ul>
                @foreach (var caststar in Model.CastStars)
                {
                    <li>@caststar.Role: @caststar.Name</li>
                }
            </ul>
        </div>
    }
